<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"> 
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
<body>
    <nav style="background: #78e5ef;" class="navbar navbar-expand-lg">
        <a style="margin-left: 60px;" class="navbar-brand" href="http://localhost:3000/">SKATER LOGIN</a>
      </nav>
    
{{{body}}}
<footer style="background: cadetblue;">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <img style="width: 70%; margin-top: 30px;" src="/imagenes/logo.webp" alt="">
        </div>
        <div class="col-md-5">
          <h3 style="margin-top: 30px;">MISION</h3>
            <p style="text-align: justify;margin-top: 20px;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas
                 architecto maiores, autem qui delectus fugit accusamus dolorem. Accusamus
                  perspiciatis illum tempora. Praesentium quibusdam maiores architecto quis 
                  tenetur neque officia libero.</p>
        </div>
        <div class="col-md-4">
            <h3 style="margin-top: 30px;">CONTACTO</h3>
            <p>correo: techno@hotmail.com</p>
            <p>celular: 987456321</p>
            <p>direccion: av arenales 356 lima lima</p>
        </div>
      </div>
    </div> <br><br>
</footer>





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>