<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul>
     <button><a  href='/'>Home</a></button> 
     <button><a href="/prueba">Prueba</a></button> 
       <button> <a href="/nosotros">Nosotros</a></button>
         <button><a href="/destacados">destacados</a></button>
        <button> <a href="/productos">productos</button>
        <button> <a href="/contacto">contacto</button>
        <button> <a href="/vision">vision</button>
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>
